
td {
    vertical-align: middle;
    font-size: 20px;
}

h3 {
    text-transform: uppercase;
    margin-top: 2%;
    margin-left: 2%;
}

.item_donhang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

/* .input_cart, textarea {
    width: 50%;
    background: #F7F7F7;
    border: 1px solid #D6D6D6;
    padding: 5px 10px;
} */

textarea {
    height: 130px;
}

span {
    color: red;
    margin-left: 5px;
}