<div class="navbar_header">
    <a href="/admin">Main</a>
    <!-- <a href="#news">News</a> -->
    <div class="dropdown_header">
      <button class="dropbtn">Manage  
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown_header-content">
        <a href="/admin/user">Account</a>
        <a href="/admin/loai-san-pham">Type Of Product</a>
        <a href="/admin/xuat-xu-san-pham">Origin</a>
        <a href="/admin/san-pham">Product</a>
        <a href="/admin/hoa-don">Bill</a>
        <a href="/admin/thong-ke">Statistic</a>
      </div>
    </div> 
    <a href="/customer/login">Website</a>
    <div class="dropdown_header dropdown_header_icon">
      <button class="dropbtn">
        <i class="fa fa-caret-down"></i>
        <i class="fa fa-user icon"></i>
      </button>
      <div class="dropdown_header-content">
        <a href="#">Change Password</a>
        <a href="/admin/login">Log out</a>
        <!-- <a href="#">Link 3</a> -->
      </div>
    </div> 
  </div>